.search-box{
    width: 100%;
    margin: 4px auto;
    text-align: center;
    display: inline-block;
    -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.ngx-charts-number-card{
  display: inline-block;
  margin:auto;
}
