.navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background: black;
    color: white;
    font-size: 22px;
}

.form-group{
    margin: 0 auto;
    float: none;
    text-align:center;
    width: 100;
    
}