.navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background: black;
    color: white;
    font-size: 22px;
}

.form-group{
    margin: 0 auto;
    float: none;
    text-align:center;
    width: 100;
    
}

#footer {
    position: fixed;
    bottom: 0;
    overflow: hidden;
    
    width: 100%;
    height:50px; 

    
    
    left: 0;
    right: 0;
    
    margin-bottom: 0px;
}

.nav-down {
    bottom: -40px;
}