<!-- Search bar -->

<button style="position: fixed;"routerLink="/signup" class="logOut btn btn-light">Log Out</button>

<div  class="search-box form-inline md-form mr-auto mb-4">
  <fieldset>
  <input  type="text" id="searchField" name="searchField"  class="mr-sm-8" placeholder="Search" [(ngModel)]="searchField">
  <button type="button" class='btn btn-outline-secondary' (click)="onSearch()">Search</button>
  <button class="btn btn-outline-secondary" (click)="clear()">Clear</button>
</fieldset>
</div>



<ol>
  <div *ngFor="let doctor of Doctors">

    <div class="bg-white rounded shadow-sm p-4 mb-4 restaurant-detailed-ratings-and-reviews">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-2">{{ doctor.doctorName }}</h5>
        </div>
        <p class="mb-2">Speciality : {{ doctor.category }}</p>
        <p class="mb-2">Rating : {{ doctor.rating}}</p>

        <button class='btn btn-info' [routerLink]= "['/review', doctor.doctorID]">Show Reviews</button>
        <button class='btn btn-secondary' (click)="open(content, doctor.doctorID, doctor.doctorName)">Write Review</button>
    </div>

  </div>
</ol>



<!-- Popup Insert new Review -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Write your review</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <form [formGroup] = "writeReviewForm" (ngSubmit)="onSubmit()">
      <label for="doctorName">Doctor Name</label>
      <div class="input-group mb-3">
        <input id="doctorName" type="text" formControlName="doctorName" style='width:50%'>
      </div>
	  
	  <label for="rating">Rating</label><br>
    <output for="rating">{{ rating.value}}</output>
    <div class="input-group mb-3">
      <input type="range" id="rating" #rating min="1" max="5" formControlName="rating" value="3" style='width:50%'> 
      </div>
      
      <label for="patientName">Patient Name</label>
      <div class="input-group mb-3">
        <input id="patientName" type="text" formControlName="patientName" style='width:50%'>
      </div>
	  
	  <label for="message">Message</label>
      <div class="input-group mb-3">
        <textarea placeholder="Your Message" formControlName="message" cols="50" rows="6" style='width:100%'></textarea>
      </div>

    <div class="input-group-append">
        <button class="btn btn-primary" type="submit" (click)="modal.close('Save click')" style="width:30%">Post</button>
      </div>
    </form>
      </div>    
</ng-template>


