
<button>Up-Left</button>
 
<div [style.right.px]="isOpen ? 0 : -400">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar lacus at feugiat congue. Nam vestibulum,
        neque quis finibus varius, tellus magna eleifend mi, eu aliquam ipsum dui et ligula. Proin neque metus, tempor
        at nunc maximus, mattis lacinia purus. Sed nibh augue, vehicula ornare mi eu, suscipit auctor quam. Praesent id
        felis nec purus lobortis pharetra sit amet vel urna. Maecenas sed vulputate dolor. Quisque ut elit mi. Fusce sed
        ligula augue. Nam eget rutrum nisi. Nullam imperdiet neque non nunc scelerisque laoreet. Donec at nibh diam.
        Praesent quis ligula et erat pretium dapibus sed quis velit.
    </p>
</div>